<div>
  <h3>
    Row Grouping
    <small>
      <a
        href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/basic/row-grouping.component.ts"
        target="_blank"
      >
        Source
      </a>
    </small>
  </h3>

  <ngx-datatable
    #myTable
    class="material expandable"
    [rows]="rows"
    [columnMode]="'force'"
    [groupRowsBy]="'age'"
    [scrollbarH]="true"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="40"
    [limit]="4"
    [groupExpansionDefault]="true"
  >
    <!-- Group Header Template -->
    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div style="padding-left:5px;">
          <a href="#"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            (click)="toggleExpandGroup(group)"
            title="Expand/Collapse Group" >
            <b>Age: {{ group.value[0].age }}</b>
          </a>
        </div>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column name="Source" prop="source" editable="false" frozenLeft="True"></ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name" editable="true"></ngx-datatable-column>
    <ngx-datatable-column name="Gender" prop="gender"></ngx-datatable-column>
    <ngx-datatable-column name="Age" prop="age"></ngx-datatable-column>
  </ngx-datatable>
</div>
